@model IEnumerable<ProyectGarantia.Models.Lote>
@*@using ProyectGarantia.Services.Lote*@

@{
    ViewData["Title"] = "Index";
    //var informacionServicio = _httpRequest.ObtenerMensaje();
}

<h1>Index</h1>

<p>
    <a class="btn btn-success btn-sm" role="button" asp-action="Create">Create New</a>
    <a class="btn btn-dark btn-sm" role="button" asp-controller="DetalleLote" asp-action="Index">Crear Préstamos</a>
    <a class="btn btn-primary btn-sm" role="button" asp-controller="DetalleLoteModelo" asp-action="Index">Modelo
        Opcional</a>
</p>

<table class="table table-hover table-bordered table-sm">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCorrelativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCreador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCorrelativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @item.FechaCreacion.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCreador)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info btn-sm" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
